

$vue_green: hsla(153, 50%, 48%, 1);

.cell{
	position:relative;
	border:1px solid $vue_green;
	display:flex;
	flex-direction: column-reverse;
	align-items: center;
	padding:6px;

	button{
		border:1px solid $vue_green;
		background:radial-gradient($vue_green, darken($vue_green, 20%));
		border-radius:4px;
		font-size:20px;
		color:white;
	}

	.emoji{
		font-size:80px;
	}
}

